.skills {
  width: 50%;
}
#skillsDiv {
  max-width: 90%;
  margin: 0px 60px;
}

img {
  margin-bottom: 20px;
}

@media only screen and (max-width: 982px) {
  .skills {
    width: 70%;
    margin-left: 20px;
  }
}
