#sibelgif {
  width: 100%;
  border: 5px solid black;
  border-radius: 50%;
}

span {
  display: none;
}

.jumbotron {
  color: ;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  width: 100%;
  margin: 0 auto;
  box-shadow: inset 20px 0 80px 6px rgb(25, 4, 53);
}

    .jumbo_text {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 23px;
  letter-spacing: 1mm;
}
@media only screen and (min-width: 220px) and (max-width: 340px) {
  #sibelgif {
    margin-left: 50px;
  }
}
@media only screen and (min-width: 340px) and (max-width: 580px) {
  #sibelgif {
    margin-left: 80px;
  }
}
@media only screen and (min-width: 580px) and (max-width: 762px) {
  #sibelgif {
    margin-left: 180px;
  }
}
