#sibelgif {
  width: 100%;
  border: 8px groove white;
  border-radius: 240px;
}

span{
    display: none;
}

.jumbotron{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./code3.jpg);
    opacity: 0.9;
    color: white; 
    margin-bottom: 0px;
}

.jumbo_text{
    font-size: 20px;
}
@media only screen  and (min-width: 220px) and (max-width: 340px) {
    #sibelgif{
margin-left: 50px;
    }
}
@media only screen  and (min-width: 340px) and (max-width: 580px) {
    #sibelgif{
margin-left: 80px;
    }
}
@media only screen and (min-width: 580px) and (max-width: 762px) {
    #sibelgif{
margin-left: 180px;
    }
}   