.page-footer {
  padding: 15px;
  text-align: center;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#modalLink {
  font-size: 24px;
}

body {
    min-height: 100vh; /* will cover the 100% of viewport */
    position: relative;
    padding-bottom: 100px; /* height of your footer */

}
