body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Goudy Bookletter 1911", serif,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #ddeaf4, #9cb3cd, #657ea8, #384a80, #151856);}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
