body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Goudy Bookletter 1911", serif,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to bottom,
    #2c2d47,
    #4b5b72,
    #738b9b,
    #a4bec5,
    #ddf1f1
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
