body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Goudy Bookletter 1911", serif,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #f7fafd, #dadde0, #bec0c4, #a3a4a8, #89898d);}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
